$primary-color: #313338;
$secondary-color: #1e1f22;
$red: #d03a3d;
$green: #368044;
$blue: #5e66f4;
$gray: #50545c;

.select {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 80%;
    max-width: 80%;
    margin: 10px auto;
    position: relative;

    .selected {
        display: flex;
        padding: 10px;
        background-color: darken($color: $primary-color, $amount: 5%);
        border: solid white 2px;
        border-radius: 10px;
        position: relative;

        .multipleValue {
            display: flex;
            flex-direction: row;
            position: relative;

            div {
                border: solid white 2px;
                margin-right: 5px;
                border-radius: 5px;
                font-size: 10px;
                padding: 5px;
                z-index: 1;

                img {
                    width: 10px;
                }
            }
        }

        &:hover {
            cursor: pointer;
        }

        .images {
            margin-left: auto;
        }

        img {
            margin-left: 5px;
        }
    }

    .options {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 50px;
        background-color: darken($color: $primary-color, $amount: 5%);
        border: solid white 2px;
        border-radius: 10px;
        width: 100%;

        div {
            margin: 5px;
            padding: 5px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.button {
    margin: 10px auto;
    max-width: 300px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: white;

    &:hover {
        cursor: pointer;
    }

    &.blue {
        background-color: $blue;
        border: solid darken($blue, 5%) 2px;
    }

    &.red {
        background-color: $red;
        border: solid darken($red, 5%) 2px;
    }

    &.green {
        background-color: $green;
        border: solid darken($green, 5%) 2px;
    }

    &.gray {
        background-color: $gray;
        border: solid darken($gray, 5%) 2px;
    }
}

.textInput {
    display: flex;
    flex-direction: column;
    position: relative;

    input {
        padding: 10px;
        background-color: darken($color: $primary-color, $amount: 5%);
        border-radius: 10px;
        margin: 10px auto;
        min-width: 300px;
        width: 80%;
        max-width: 80%;
        color: white;

        &.whiteBorder {
            border: solid white 2px;
        }

        &.redBorder {
            border: solid $red 2px;
        }
    }

    div {
        position: absolute;
        top: 60px;
        background-color: $secondary-color;
        color: #d03a3d;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
    }
}

.timer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px auto;

    .timeDisplay {
        padding: 10px;
        max-width: 50px;
        background-color: white;
        margin: 10px auto;
        border-radius: 7px;
    }
}